@using HybridPages.Client.State;
@using HybridPages.Shared.Enums;
@using HybridPages.Shared.Interfaces;
@using HybridPages.Shared.Models;
@using HybridPages.Shared.Helpers;
@using HybridPages.Client.Shared.EditorComponents.Forms;
@inject PageService _pageService;

@if (_pageService.SelectedPost != null)
{
	<AuthorizeView Context="authContext">
		<Authorized>
			<nav class="horizontal-scroll-menu">
				<ul>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.JumboBanner ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.JumboBanner)">Jumbo Banner</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.Text ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.Text)">Text</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.Image ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.Image)">Image</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.YouTube ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.YouTube)">Video</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.Form ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.Form)">Form</a></li>
				</ul>
			</nav>
			<section class="section-editor">
				<article>
					<RichTextEditor></RichTextEditor>
				</article>
			</section>
		</Authorized>
	</AuthorizeView>
}