@using HybridPages.Client.State;
@using HybridPages.Shared.Enums;
@using HybridPages.Shared.Interfaces;
@using HybridPages.Shared.Models;
@using HybridPages.Shared.Helpers;
@using SimpleTextEditor;
@using HybridPages.Client.Shared.EditorComponents.Forms;
@inject PageService _pageService;

@if (_pageService.SelectedPost != null)
{
	<AuthorizeView Context="authContext">
		<Authorized>
			<nav class="horizontal-scroll-menu">
				<ul>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.JumboBanner ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.JumboBanner)">Jumbo Banner</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.Text ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.Text)">Text</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.Image ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.Image)">Image</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.YouTube ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.YouTube)">Video</a></li>
					<li><a class="@(_pageService.SelectedPost.Type == PostTypeEnum.Form ? "active" : "")" @onclick="() => _pageService.SetPostType(PostTypeEnum.Form)">Form</a></li>
				</ul>
			</nav>
			<section class="section-editor">
				<article>
					@switch (_pageService.SelectedPost?.Type)
					{
						case PostTypeEnum.JumboBanner:
							<input type="text" @bind-value="Title" @bind-value:event="oninput" />
							<input type="text" @bind-value="Content" @bind-value:event="oninput" />
							break;
						case PostTypeEnum.Image:
							<input type="text" @bind-value="Title" @bind-value:event="oninput" />
							<input type="text" @bind-value="Content" @bind-value:event="oninput" />
							break;
						case PostTypeEnum.Vimeo:
						case PostTypeEnum.YouTube:
							<div>URL:</div>
							<input type="text" @bind-value="Content" @bind-value:event="oninput" />
							break;
						case PostTypeEnum.Form:
							<FormEditor></FormEditor>
							break;
						default:
							<TextEditor @bind-Blocks="TextBlocks"></TextEditor>
							break;
					}
					<br /><br />
					<hr>
					
					@if (_pageService.SelectedPost?.Id != _pageService.Page?.Posts?.First?.Value.Id)
					{
						<button @onclick="_pageService.MoveUp">Move Up</button>
					}
					@if (_pageService.SelectedPost?.Id != _pageService.Page?.Posts?.Last?.Value.Id)
					{
						<button @onclick="_pageService.MoveDown">Move Down</button>
					}
					<button @onclick="() => _pageService.AddPost(PostTypeEnum.Text)">Add Text Section</button>
				</article>
			</section>
		</Authorized>
	</AuthorizeView>
}