@page "/"
@page "/p/{UniqueName}"
@using System.Text.RegularExpressions;
@using HybridPages.Client.Shared.EditorComponents
@using HybridPages.Client.Shared.LayoutComponents
@using HybridPages.Client.State;
@using HybridPages.Shared.Enums;
@using HybridPages.Shared.Helpers;
@using HybridPages.Shared.Interfaces;
@using HybridPages.Shared.Models;
@using HybridPages.Shared.Models.Styling;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json;
@using Plk.Blazor.DragDrop;
@inject NavigationManager _navigation
@inject PageService _pageService

<div class="content-container">
	@if (_pageService.Page == null)
	{
		<article class="card">
			<p><em>Loading...</em></p>
		</article>
	}
	else
	{
		<Dropzone Items="_pageService.Page.Posts.GroupBy(p => p.ChainedRow).ToList()" InstantReplace="true" TItem="IGrouping<string,Post>" OnItemDrop="@((p)=>OnItemDrop(p))" OnReplacedItemDrop="@((p)=>OnReplacedItemDrop(p))">
			<ContentSection postGroup="@context"></ContentSection>
		</Dropzone>
	}
</div>

<div style="position: fixed; left:0px; top: 0px; right: 0px; background-color: red;">
	<p>Selected: @_pageService.DragDropPayload?.Content</p>
	<p>Target: @_pageService.DragDropTarget?.Content</p>
</div>
@* @(JsonSerializer.Serialize(_pageService.Page, new JsonSerializerOptions() { WriteIndented = true })) *@


